# 영상등급 판정 재분류

- <12세이상관람가, 15세이상관람가, 전체관람가, 청소년관람불가, 15세관람가, 12세관람가, 18세관람가>에서 


- 전체관람가, 12세이상관람가, 15세이상관람가, 청소년관람불가로 조절

In [1]:
import numpy as np
import pandas as pd

In [28]:
sample1 = pd.read_csv("C:\\GitTest\\10M_Movie\movie_DB\\individual_movie\\movie_info_final.csv")
sample1

,Title,Release,Genre,Age,Nation,Type,Director,Main_actor,Audi
0,명량,2014-07-30,"사극,액션",15세이상관람가,한국,"필름,2D,4D",김한민,"최민식,류승룡,조진웅",17615919
1,극한직업,2019-01-23,코미디,15세이상관람가,한국,2D,이병헌,"류승룡,이하늬,진선규,이동휘,공명",16266338
2,신과함께-죄와 벌,2017-12-20,"판타지,드라마",12세이상관람가,한국,"2D,4D",김용화,"하정우,차태현,주지훈,김향기,마동석",14414658
3,국제시장,2014-12-17,드라마,12세이상관람가,한국,"필름,2D",윤제균,"황정민,김윤진,오달수,정진영",14264478
4,어벤져스: 엔드게임,2019-04-24,"액션,SF",12세이상관람가,미국,"2D,3D,4D,IMAX","안소니 루소,조 루소","로버트 다우니 주니어,크리스 에반스,마크 러팔로,크리스 헴스워스,스칼렛 요한슨,제레...",13977602
...,...,...,...,...,...,...,...,...,...
197,해리 포터와 불의 잔,2005-12-01,"액션,판타지",12세관람가,미국,"필름,4D",마이크 뉴웰,"다니엘 래드클리프,루퍼트 그린트,엠마 왓슨,랄프 파인즈",3499257
198,비긴 어게인,2014-08-13,멜로/로맨스,15세이상관람가,미국,"필름,2D",존 카니,"키이라 나이틀리,마크 러팔로,애덤 리바인,헤일리 스테인펠드,제임스 코든,캐서린 키너",3477672
199,태풍,2005-12-14,"드라마,액션",15세관람가,한국,"필름,2D",곽경택,"이정재,이미연,장동건",3471150
200,킹콩,2005-12-14,"드라마,어드벤처",15세관람가,미국,필름,피터 잭슨,"잭 블랙,애드리언 브로디,나오미 왓츠",3470059
201,부러진 화살,2012-01-18,드라마,15세이상관람가,한국,"필름,2D",정지영,"안성기,박원상,나영희,김지호,신종훈",3460212

In [29]:
sample1['Age'].value_counts()

12세이상관람가    84
15세이상관람가    76
전체관람가       17
청소년관람불가     14
15세관람가       6
12세관람가       4
18세관람가       1
Name: Age, dtype: int64

- 영상물등급위원회 기준
- 전체관람가, 12세이상관람가, 15세이상관람가, 청소년관람불가로 조절

In [30]:
sample1[sample1["Age"] == "18세관람가"]

,Title,Release,Genre,Age,Nation,Type,Director,Main_actor,Audi
86,타짜,2006-09-28,드라마,18세관람가,한국,"필름,2D",최동훈,"조승우,김혜수,백윤식,유해진,이수경",5692997

In [31]:
sample1["Age"][86] = "청소년관람불가"

C:\Users\acorn\AppData\Local\Temp\ipykernel_10524\3714014558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample1["Age"][86] = "청소년관람불가"

In [32]:
sample1["Age"][86]

'청소년관람불가'

In [33]:
sample1[sample1["Age"] == "12세관람가"]

,Title,Release,Genre,Age,Nation,Type,Director,Main_actor,Audi
22,괴물,2006-07-27,"SF,가족,드라마",12세관람가,한국,"필름,2D",봉준호,"송강호,변희봉,박해일,배두나,고아성",10917400
73,웰컴 투 동막골,2005-08-04,"전쟁,드라마",12세관람가,한국,"필름,2D",박광현,"신하균,정재영,강혜정,리민",6436900
172,캐리비안의 해적 : 망자의 함,2006-07-06,"액션,코미디,어드벤처,판타지",12세관람가,미국,필름,고어 버빈스키,"조니 뎁,올랜도 블룸",3911617
197,해리 포터와 불의 잔,2005-12-01,"액션,판타지",12세관람가,미국,"필름,4D",마이크 뉴웰,"다니엘 래드클리프,루퍼트 그린트,엠마 왓슨,랄프 파인즈",3499257

In [34]:
index = [22, 73, 172, 197]

In [35]:
for i in index:
    sample1["Age"][i] = "12세이상관람가"

C:\Users\acorn\AppData\Local\Temp\ipykernel_10524\395898318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample1["Age"][i] = "12세이상관람가"

In [36]:
sample1[sample1["Age"] == "15세관람가"]

,Title,Release,Genre,Age,Nation,Type,Director,Main_actor,Audi
21,실미도,2003-12-24,전쟁,15세관람가,한국,필름,강우석,"설경구,안성기,허준호,정재영,임경호",11081000
109,미션 임파서블 3,2006-05-03,액션,15세관람가,미국,"필름,2D",J.J. 에이브럼스,톰 크루즈,5127047
110,투사부일체,2006-01-19,코미디,15세관람가,한국,필름,김동원,"정준호,정웅인,김상중",5074314
141,가문의 위기(가문의 영광2),2005-09-07,코미디,15세관람가,한국,필름,정용기,"신현준,김수미,김원희,정준하",4529876
199,태풍,2005-12-14,"드라마,액션",15세관람가,한국,"필름,2D",곽경택,"이정재,이미연,장동건",3471150
200,킹콩,2005-12-14,"드라마,어드벤처",15세관람가,미국,필름,피터 잭슨,"잭 블랙,애드리언 브로디,나오미 왓츠",3470059

In [37]:
index = [21,109, 110, 141, 199, 200]
for i in index:
    sample1["Age"][i] = "15세이상관람가"

C:\Users\acorn\AppData\Local\Temp\ipykernel_10524\4199384975.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample1["Age"][i] = "15세이상관람가"

In [38]:
sample1['Age'].value_counts()

12세이상관람가    88
15세이상관람가    82
전체관람가       17
청소년관람불가     15
Name: Age, dtype: int64

In [39]:
sample1

,Title,Release,Genre,Age,Nation,Type,Director,Main_actor,Audi
0,명량,2014-07-30,"사극,액션",15세이상관람가,한국,"필름,2D,4D",김한민,"최민식,류승룡,조진웅",17615919
1,극한직업,2019-01-23,코미디,15세이상관람가,한국,2D,이병헌,"류승룡,이하늬,진선규,이동휘,공명",16266338
2,신과함께-죄와 벌,2017-12-20,"판타지,드라마",12세이상관람가,한국,"2D,4D",김용화,"하정우,차태현,주지훈,김향기,마동석",14414658
3,국제시장,2014-12-17,드라마,12세이상관람가,한국,"필름,2D",윤제균,"황정민,김윤진,오달수,정진영",14264478
4,어벤져스: 엔드게임,2019-04-24,"액션,SF",12세이상관람가,미국,"2D,3D,4D,IMAX","안소니 루소,조 루소","로버트 다우니 주니어,크리스 에반스,마크 러팔로,크리스 헴스워스,스칼렛 요한슨,제레...",13977602
...,...,...,...,...,...,...,...,...,...
197,해리 포터와 불의 잔,2005-12-01,"액션,판타지",12세이상관람가,미국,"필름,4D",마이크 뉴웰,"다니엘 래드클리프,루퍼트 그린트,엠마 왓슨,랄프 파인즈",3499257
198,비긴 어게인,2014-08-13,멜로/로맨스,15세이상관람가,미국,"필름,2D",존 카니,"키이라 나이틀리,마크 러팔로,애덤 리바인,헤일리 스테인펠드,제임스 코든,캐서린 키너",3477672
199,태풍,2005-12-14,"드라마,액션",15세이상관람가,한국,"필름,2D",곽경택,"이정재,이미연,장동건",3471150
200,킹콩,2005-12-14,"드라마,어드벤처",15세이상관람가,미국,필름,피터 잭슨,"잭 블랙,애드리언 브로디,나오미 왓츠",3470059
201,부러진 화살,2012-01-18,드라마,15세이상관람가,한국,"필름,2D",정지영,"안성기,박원상,나영희,김지호,신종훈",3460212

In [40]:
sample1.to_csv('movie_info_final2.csv')